DISCORD_TOKEN=Your Discord token
MONGODB=mongodb://localhost:27017/Your-database-name

NODE_ENV=development or production

WH_URL=Your Discord webhook URL.

NASA_API= Your NASA API key (Optional)
HABITICA_KEY=Your Habitica API key (Optional)
ORBIT_KEY=Orbit API Key (Optional)

OWNER_ID=Your Discord ID (Optional)

BECCA_LOVE=The ID of the emoji to use for the hearts reaction
BECCA_YES=The ID of the emoji to use for successful command calls
BECCA_NO=The ID of the emoji to use for failed command calls
BECCA_THINK=The ID of the emoiji to use for bot @mentions

SENTRY_DSN=Project DSN from Sentry.io